body {
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  padding-bottom: 20px;
}

select {
  font-size: 2em;
}
input[type="button"] {
  font-size: 1.4em;
}

#question-section {
  display: none;
  width: 100%;
}

#submit-ans,
#action-btns,
.answer {
  display: none;
}

select {
  border-radius: 3px;
  background: white;
}

select#number {
  width: 5em;
}

#sub-selected {
  display: block;
  margin-top: 1em;
  margin-left: 12.5em;
}

#real-question {
  width: 22em;
  word-wrap: break-word;
  margin-bottom: 5px;
  font-weight: bold;
}

.single-question {
  border: solid 1px gray;
  margin-top: 5px;
}
h3 {
  text-align: center;
}
